<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>SwitchMarket</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" rel="stylesheet">

		{{{isAdminEditorCSS user}}}
	</head>
	<body>
    <div id="site-header" class="mb-3 border-bottom box-shadow">
      <div id="site-header-inner" class="container bg-white">
        <div class="row">
          <div class="col-12 d-flex flex-column flex-md-row align-items-center py-3">
            <div class="d-flex flex-row align-items-center mr-md-auto">
              <h5 class="my-0 font-weight-normal d-flex flex-row">
                <a href="/" class="text-dark">SwitchMarket</a>
              </h5>
              <h6 class="text-warning text-uppercase font-weight-bold ml-1 mb-0">Beta</h6>              
            </div>
            <nav class="my-2 my-md-0">
              {{# each navLinks}}
                <a class="py-2 pl-4 text-dark {{#ifeq ../section key}}{{else}}{{/ifeq}}" href="{{href}}">{{label}}</a>
              {{/each}}
            </nav>
          </div>        
        </div>
      </div>      
    </div>
		<div id="site-body">
			{{#if messages}}
        <div id="flash-messages" class="container">
          {{#if messages.info}}
          <div class="alert alert-info">
              {{{flashMessages messages.info}}}
          </div>
          {{/if}}
          {{#if messages.success}}
          <div class="alert alert-success">
              {{{flashMessages messages.success}}}
          </div>
          {{/if}}
          {{#if messages.warning}}
          <div class="alert alert-warning">
              {{{flashMessages messages.warning}}}
          </div>
          {{/if}}
          {{#if messages.error}}
          <div class="alert alert-danger">
              {{{flashMessages messages.error}}}
          </div>
          {{/if}}
        </div>
			{{/if}}
      
      <div class="container">
        <div class="alert alert-primary">
          Welcome to the SwitchMarket beta! Please report all bugs on <a href="https://github.com/Lemmmy/SwitchMarket/issues">GitHub</a>. Thanks!<br/>
          <b>Note</b>: Unimplemented features are not bugs.
        </div>        
      </div>
			
			{{{body}}}
		</div>
    <div id="footer" class="container border-top py-4 mt-4">
      <div class="row">
        <p class="col-12">
          Created by <a href="https://github.com/Lemmmy/">Lemmmy</a>
          <span class="text-muted">&ndash;</span>
          {{#if user}}
            <a href="/keystone">Admin UI</a>
            <span class="text-muted">&ndash;</span>
            <a href="/keystone/signout">Logout</a>
          {{else}}
            <a href="/keystone/signin">Admin Login</a>
          {{/if}}
        </p>        
      </div>
    </div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js"></script>
    <script>
      var socket = io();
      
      jQuery.timeago.settings.allowFuture = true;
      
      $(function() {
        $("time.timeago").timeago();
        
        $("[data-countdown]").each(function() {
          var $this = $(this);
          var finalDate = $this.data("countdown");
          
          $this.countdown(finalDate, function(event) {
            var format = "%H:%M:%S";
            
            if(event.offset.totalDays > 0) format = "%-d day%!d " + format;
            if(event.offset.weeks > 0) format = "%-w week%!w " + format;
            
            $this.text(event.strftime(format));
          });
        });
        
        socket.on("sold", function() {
          setTimeout(function() {
            location.reload();
          }, 1000);
        });

        socket.on("bid", function(product) {
          const id = $("#product-id");
          
          if (id && id.val() === product._id) {
            setTimeout(function() {
              location.reload();
            }, 1000);
          }
        });
      })
    </script>
    {{{sections.script}}}
		{{{isAdminEditorJS user}}}
	</body>
</html>
