{{!< default}}
<input type="hidden" id="product-id" value="{{product._id}}" />
<div class="container product-page">
  {{> page-heading title="Products"}}
  
  <div class="row">
    <div class="col-md-4">
      {{#if product.image.filename}}
        <a href="/uploads/{{product.image.filename}}" data-lightbox="product-image" data-title="{{name}}"><img src="/uploads/{{product.image.filename}}" class="product-image img-thumbnail img-fluid" /></a>
      {{else}}
        <img src="/images/no-image.png" class="product-image product-no-image img-thumbnail img-fluid" />
      {{/if}}
    </div>
    <div class="col-md-8">
      <div class="d-flex flex-row align-items-start">
        <h1 class="mb-0">{{product.name}}</h1>
        {{#if user}}
          {{#if user.isAdmin}}
            <button class="btn btn-primary btn-sm float-right ml-3" data-ks-editable="{{adminEditableUrl user product._id}}">Edit</button>
          {{/if}}
        {{/if}}
        <h3 class="ml-auto">{{> sale-type-badge type=product.saleType class="badge-secondary"}}</h3>
      </div>
      
      {{#if product.createdBy}}
        <h5 class="font-weight-normal"><span class="text-muted"> 
          {{#if product.compulsory}}
            For sale on behalf of:
          {{else}}
            For sale by:
          {{/if}}
          {{#if product.seller}}{{product.seller}}{{else}}{{product.createdBy.name.first}} {{product.createdBy.name.last}}{{/if}}
        </span></h5>
      {{/if}}

      {{#ifeq product.saleType "auction"}}
        {{#unless product.sold}}
          {{#if product.endsAt}}
            <div class="time-left-container">
              <span class="text-muted">Time left:</span>
              <b>{{> countdown time=product.endsAt id="time-left"}}</b>
            </div>
          {{/if}}
        {{/unless}}
      {{/ifeq}}
      
      <div class="jumbotron jumbotron-fluid border p-4 mt-4">
        {{#if product.sold}}
          {{#if product.currentBid}}
            {{#if product.reserve}}
              {{#if (gte product.currentBid.amount product.reserve)}}
                <h2 class="m-0 text-center text-primary" style="line-height: inherit">Sold for: <b>{{krist product.currentBid.amount}}</b></h2>

                <table class="w-100">
                  <tr>
                    <td><b>To</b></td>
                    <td>{{product.currentBid.username}} (<a target="_blank" href="{{kristweb product.currentBid.address}}">{{product.currentBid.address}}</a>)</td>
                  </tr>
                  <tr>
                    <td><b>Time</b></td>
                    <td>{{> timeago time=product.endsAt}}</td>
                  </tr>
                </table>                
              {{else}}
                <h2 class="m-0 text-center text-muted" style="line-height: inherit">The auction ended unsold.</h2>

                <table class="w-100">
                  <tr>
                    <td><b>Top bid</b></td>
                    <td>{{krist product.currentBid.amount}}</td>
                  </tr>
                  <tr>
                    <td><b>From</b></td>
                    <td>{{product.currentBid.username}} (<a target="_blank" href="{{kristweb product.currentBid.address}}">{{product.currentBid.address}}</a>)</td>
                  </tr>
                  <tr>
                    <td><b>Time</b></td>
                    <td>{{> timeago time=product.endsAt}}</td>
                  </tr>
                </table>                
              {{/if}}
            {{else}}
              <h2 class="m-0 text-center text-primary" style="line-height: inherit">Sold for: <b>{{krist product.currentBid.amount}}</b></h2>

              <table class="w-100">
                <tr>
                  <td><b>To</b></td>
                  <td>{{product.currentBid.username}} (<a target="_blank" href="{{kristweb product.currentBid.address}}">{{product.currentBid.address}}</a>)</td>
                </tr>
                <tr>
                  <td><b>Time</b></td>
                  <td>{{> timeago time=product.endsAt}}</td>
                </tr>
              </table>              
            {{/if}}
          {{else}}
            <h2 class="m-0 text-muted" style="line-height: inherit">The auction ended unsold.</h2>
          {{/if}}
        {{else}}
          <div class="d-flex flex-row align-items-baseline">
            {{#if product.currentBid}}
              <h2 class="m-0 mr-2 {{#if product.reserve}}{{#if (gte product.currentBid.amount product.reserve)}}text-success{{/if}}{{/if}}" style="line-height: inherit">{{krist product.currentBid.amount}}</h2>
              <span class="text-muted">{{> timeago time=product.currentBid.createdAt}}</span>
            {{else}}
              <h2 class="m-0 text-muted" style="line-height: inherit">No bid</h2>
            {{/if}}
          </div>
        
          <div class="mb-4">
            {{#if product.reserve}}
              {{#if (gte product.currentBid.amount product.reserve)}}
                <span class="text-success d-block">The reserve price has been met. <span class="octicon octicon-check"></span></span>
              {{else}}
                <span class="text-muted d-block">The reserve price has not been met.</span>
              {{/if}}
            {{/if}}

            <span class="text-muted d-block">Bid at least {{krist minimumBid}}.</span>
          </div>

          <form id="submit-bid-form">
            <div class="row mb-4">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="In-game username" id="username" />
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="Your bid" id="bid-amount" />
                  <div class="input-group-append">
                    <span class="input-group-text">KST</span>
                  </div>
                </div>
              </div>
            </div>

            <input type="submit" class="btn btn-primary btn-lg btn-block" id="submit-bid" value="Submit">
          </form>

          <div class="border bg-light p-3 mt-4 hidden d-none" id="submit-bid-help-container">
            <h1>Submitting your bid</h1>
            <p class="mb-0">
              Send <b id="submit-bid-help-amount">0 KST</b> to <b>{{product.slug}}@{{marketName}}</b> by typing
              this command in SwitchCraft:
            </p>
            <pre class="p-2 my-2 border bg-dark text-light">/pay {{product.slug}}@{{marketName}} <span id="submit-bid-help-amount-code">0</span></pre>
            <p class="mb-0 mt-3">
              Or by sending a payment with the following metadata in <a href="https://kristweb.lemmmy.pw">KristWeb</a>:
            </p>
            <pre class="p-2 my-2 border bg-dark text-light">username=<span id="submit-bid-help-username"></span></pre>
          </div>

          <span class="d-inline-block mt-4 text-muted mb-0">Or type this command in SwitchCraft:</span>
          <pre class="p-2 my-2 border bg-dark text-light">/pay {{product.slug}}@{{marketName}} {{minimumBid}}</pre>
        {{/if}}
      </div>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-12">
      <div class="p-4 border">
        <h4>Product details</h4>
        {{#ifeq product.productType "claim"}}
          <h5 class="mb-0 mt-3 w-100 border-bottom mb-2">Claim dimensions</h5>
          <table class="w-100">
            <tr>
              <td class="w-30 align-text-top font-weight-bold">Width (X)</td>
              <td class="w-70">{{toLocaleString (size product.startX product.endX)}}m</td>
            </tr>
            {{#ifeq (size product.startY product.endY) 255}}
            {{else}}
              <tr>
                <td class="w-30 align-text-top font-weight-bold">Height (Y)</td>
                <td class="w-70">{{toLocaleString (size product.startY product.endY)}}m</td>
              </tr>
            {{/ifeq}}
            <tr>
              <td class="w-30 align-text-top font-weight-bold">Depth (Z)</td>
              <td class="w-70">{{toLocaleString (size product.startZ product.endZ)}}m</td>
            </tr>
            <tr>
              <td class="w-30 align-text-top font-weight-bold">Area</td>
              <td class="w-70">
                {{toLocaleString (area product.startX product.endX product.startZ product.endZ)}}m&sup2;<br />
                (&#8776;{{toLocaleString (acres (area product.startX product.endX product.startZ product.endZ))}} acres)
              </td>
            </tr>
            {{#if (showVolume product.startY product.endY)}}
              <tr>
                <td class="w-30 align-text-top font-weight-bold">Volume</td>
                <td class="w-70">{{toLocaleString (volume product.startX product.endX product.startY product.endY product.startZ product.endZ)}}m&sup3;</td>
              </tr>              
            {{/if}} 
          </table>
          <h5 class="mb-0 mt-3 w-100 border-bottom mb-2">Claim location <small class="d-inline-block ml-2"><a target="_blank" href="{{dynmap product}}"><span class="octicon octicon-globe"></span> View in Dynmap</a></small></h5>
          <table class="w-100">
            <tr>
              <td class="w-30 align-text-top font-weight-bold">X</td>
              <td class="w-70">{{toLocaleString product.startX}} <span class="text-muted mx-2">&ndash;</span> {{toLocaleString product.endX}}</td>
            </tr>
            {{#ifeq (size product.startY product.endY) 255}}
            {{else}}
              <tr>
                <td class="w-30 align-text-top font-weight-bold">Y</td>
                <td class="w-70">{{toLocaleString product.startY}} <span class="text-muted mx-2">&ndash;</span> {{toLocaleString product.endY}}</td>
              </tr>
            {{/ifeq}}
            <tr>
              <td class="w-30 align-text-top font-weight-bold">Z</td>
              <td class="w-70">{{toLocaleString product.startZ}} <span class="text-muted mx-2">&ndash;</span> {{toLocaleString product.endZ}}</td>
            </tr>
          </table>
        {{/ifeq}}        
      </div>
    </div>
  </div>
  
  {{#if product.description}}
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="product-description">
          {{{product.description.html}}}
        </div>        
      </div>
    </div>    
  {{/if}}
  
  <div class="row mt-4">
    <div class="col-md-12">
      <h1>Bids</h1>
      <table class="table table-striped border">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Address</th>
            <th scope="col">Username</th>
            <th scope="col">Amount</th>
            <th scope="col">Difference</th>
          </tr>
        </thead>
        <tbody>
          {{#if bids}}
            {{#each bids}}
              <tr>
                <td scope="row">{{> timeago time=createdAt}}</td>
                <td><a target="_blank" href="{{kristweb address}}">{{address}}</a></td>
                <td>{{username}}</td>
                <td><b>{{krist amount}}</b></td>
                <td>{{#ifeq delta 0}}{{else}}<span class="text-muted">+</span>{{/ifeq}}<b>{{krist delta}}</b></td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
             <td colspan="5" class="text-muted">No bids yet.</td>
            </tr>              
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{#section "script"}}
  <script>
    $(function() {
      var $username = $("#username");
      var $bidAmount = $("#bid-amount");
      
      var $submitBidForm = $("#submit-bid-form");
      
      var $submitBidHelpContainer = $("#submit-bid-help-container");
      var $submitBidHelpAmount = $("#submit-bid-help-amount");
      var $submitBidHelpAmountCode = $("#submit-bid-help-amount-code");
      var $submitBidHelpUsername = $("#submit-bid-help-username");
      
      $submitBidHelpContainer.removeClass("d-none").hide();

      $submitBidForm.submit(function() {
        $submitBidHelpAmount.text(Number($bidAmount.val()).toLocaleString() + " KST");
        $submitBidHelpAmountCode.text(Number($bidAmount.val()).toString());
        $submitBidHelpUsername.text($username.val());
        $submitBidHelpContainer.slideDown();
        
        return false;
      });
    });
  </script>
{{/section}}
