<div class="col-md-4 pb-4">
  <div class="card product-card">
    {{#if image.filename}}<a href="/products/{{slug}}"><img class="card-img-top" src="/uploads/{{image.filename}}" /></a>{{/if}}
    <div class="card-body clearfix">
      {{> sale-type-badge type=saleType}}
      <a href="/products/{{slug}}"><h5 class="card-title text-dark">{{name}}</h5></a>
      <p class="card-text">
        {{#ifeq productType "claim"}}
          <b>Size:</b> {{size startX endX}}x{{#ifeq (size startY endY) 255}}{{else}}{{size startY endY}}x{{/ifeq}}{{size startZ endZ}}
        {{/ifeq}}
      </p>
    </div>
    <div class="card-footer">
      {{#if sold}}
        <span class="text-muted">Auction ended. <a href="/products/{{slug}}">More info</a></span>
      {{else}}
        {{#if currentBid}}
          <b>Current bid:</b> {{krist currentBid.amount}}
          <small class="text-muted">{{> timeago time=currentBid.createdAt}}</small>
        {{else}}
          <span class="text-muted">No bid yet. <a href="/products/{{slug}}">Bid now!</a></span>
        {{/if}}

        <br />
        {{#if endsAt}}
          <b>Ends:</b> <span class="text-muted">{{> countdown time=endsAt}}</span>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
